 .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
     padding: 20px 40px; 
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
  }
  
  .logo a{
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
  
  .links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .links li a {
    text-decoration: none;
    color: #222;
    font-weight: 500;
    padding-bottom: 5px;
    transition: border 0.3s;
  }
  
  .links li a:hover,
  .links li a.active {
    border-bottom: 2px solid #222;
  }
  @media (max-width: 768px) {
    .hamburger {
      display: block;
    }
  
    .links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 70px;
      right: 40px;
      background: white;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      padding: 10px 20px;
      border-radius: 8px;
    }
  
    .links.show {
      display: flex;
    }
  
    .links li {
      margin: 10px 0;
    }
  }